<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>New Patient</title>
</head>
<body>
<div layout:fragment="content">
    <form class="d-flex flex-column align-items-start" th:action="@{/admin/save}" method="post">
        <div class="mb-3 w-100">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control w-100" id="firstName" name="firstName" >
        </div>
        <div class="mb-3 w-100">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control w-100" id="lastName" name="lastName" >
            <span th:errors="${patient.lastName}" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 w-100">
            <label for="score" class="form-label">Score</label>
            <input type="text" class="form-control w-100" id="score" name="score" >
            <span th:errors="${patient.score}" class="form-text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>

</body>
</body>
</html>