<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="card">
    <div class="card-header">
        Hospital
    </div>
    <div class="card-body">
        <section layout:fragment="content">

        </section>
    </div>
    <div class="card-footer text-body-secondary">
        Footer
    </div>
</div>


</body>
</html>